$color-bg: #F2F2F2;
$color-fg: lightgray;
$color-text: slate;
$color-subtext: gray;
$border-radius: 5px;

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

body {
    background: $color-bg;
    color: $color-text;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-main {
    display: grid;
    width: 100%;
    max-width: 960px;
    // background: blue;
    height: 100vh;
    min-height: 5rem;
    grid-template-columns: 20% 80%;
    padding: 2rem;
}

.container-side {
    // background: pink;
    margin-right: 1rem;
    
    textarea {
        height: 30rem;
        resize: none;
        width: 100%;
        border-radius: $border-radius;
        border: 1px solid $color-fg;
        margin-bottom: 0.5rem;
        &.small {
            height: 10rem;
        }
    }
}

.container-center {
    .container-header {
        border: 1px solid $color-fg;
        margin-bottom: 1rem;
        padding: 1rem;
        // background: $color-fg;
    }
}

//////////

.text-subtext {
    color: $color-subtext;
    font-size: 80%;
}

.text-allMissing {
    color: red;
}

.text-someMissing {
    color: orange; 
}

////////// OVERRIDES
.rt-resizer {
    display: none !important;
}